<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}

    <div class="navigation">
      <hr>
      <a href="/">Tasks To Do</a> | <a href="/completed">Completed Tasks</a>
    </div>

  </body>
</html>
